.presentation-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 2em 0;
}

.presentation-link {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    padding: 1em 2em;
    background-color: var(--red);
    margin: 0.5em;
    transition: all 0.3s ease-in-out;
}

.presentation-link:hover {
    background-color: var(--green);
    color: var(--blue);
}